<fieldset>
  <div class="row">
    <!--[form:person]-->
<div class="form-element">
  <label for="person_firstname">Firstname</label>
  <%= text_field 'person', 'firstname' , {:class=>"text-input"} %>
</div>

<div class="form-element">
  <label for="person_lastname">Lastname</label>
  <%= text_field 'person', 'lastname' , {:class=>"text-input"} %>
</div>

<!--[eoform:person]-->

  </div>
</fieldset>