<fieldset>
  <div class="row">
    <!--[form:duration]-->
<div class="form-element">
  <label for="duration_category">Category</label>
  <%= text_field 'duration', 'category' , {:class=>"text-input"} %>
</div>

<!--[eoform:duration]-->

  </div>
</fieldset>